
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');



:root {
    --clr-primary: #3CA1FF;
    --clr-primary2: #2D2D2D;
    --clr-primary3: #001C45;
    --container-width: 126rem;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono';
    line-height: 1.7;
    overflow-x: hidden;
    background: var(--clr-primary2)
}

.links {
    transition: 0.3s;
}



nav .links:hover {
    cursor: pointer;
    background-color: #7EC1FF;
    border-radius: 10px;
    padding: 10px;
    
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
    margin: 20px;
}


.container {
    max-width: var(--container-width);
    margin: 0 auto; 
    padding-left: 8%;
    padding-right: 8%;
}

.navbar {
    background: var(--clr-primary);
    border-radius: 30px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

ul div {
    display: flex;
    flex-direction: row;
}

.login-btn {
    background: var(--clr-primary3);
    min-width: 100px;
    padding: 15px 35px;
    border-radius: 30px;
    
}

.hamburger {
    width: 40px;
    cursor: pointer;
    display: none;
}

.header-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.text1 {
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.text2 {
    color: var(--clr-primary);
    font-size: 30px;
}

.text3 {
    color: white;
    margin-top: 30px
}

.hero-col hr {
    border: 5px solid var(--clr-primary);
    border-radius: 10px;
    width: 400px;
}

.hero-img {
    width: 750px;
}


.plan-sec {
    background-color: white;
}

.plan-row {
    display: flex;
    flex-direction: row;

}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.content .cover-text {
    margin: 20px;
}

.cover-text {
    color: var(--clr-primary);
    font-size: 2rem;
    text-align: center;
    min-width: 300px;
}

.plan {
    width: 18ch;
    margin: 20px;
    padding: 15px;
    background: linear-gradient(#001C45, #003483);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    
}

.pricing-text {
    font-size: 20px;
}

.plan h3 {
    color: var(--clr-primary);
}


.plan h4 {
    font-size: 12px;
    margin: 5px;
}

.sign-up {
    color: var(--clr-primary);
    font-size: 12px;
    margin: 5px;
    background-color: white;
    border-radius: 20px;
    padding: 7px;
}

.get-started {
    background-color: white;
    
}

.content2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.quick-text {
    color: var(--clr-primary);
}

.text-col {
    margin: 80px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    margin: 40px;
    width: 400px;
}


.bullet-img {
    margin: 20px;
}

.wrapper h3 {
    font-size: 18px;
}

.wrapper h4 {
    font-size: 13px;
}

.footer {
    background: url("Images/Vector.png");
    background-color: white;
    width: 100%;
}

.content3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}


.log-hero {
    max-width: 400px;
    max-height: 400px;
    margin: 20px;
    z-index: 1;
}

.email-field {
    padding: 15px 50px;
    border-color: var(--clr-primary3);
    border-radius: 25px;
}

.test-row {
    
    margin-top: 50px;
    min-width: 500px;
    
}

::placeholder {
    color: black;
    font-size: 1.2em;
    
}

.get-key {
    text-decoration: none;
    color: white;
    background-color: var(--clr-primary3);
    padding: 15px 50px;
    border-radius: 25px;
    min-width: 200px;
    margin-left: 35px;
}


.right-col {
    z-index: 2;
    margin-bottom: 3.5rem;
}




/* For mobile sizes - and Ipads */

@media only screen and (max-width: 800px) {

    .plan-row {
        flex-direction: column;
    }

    .hero-img {
        width: 600px;
    }

    .text1 {
        color: white;
        font-weight: bold;
        font-size: 25px;
        margin-left: 50px;
        margin-right: 50px;
    }

   
    
    .text2 {
        color: var(--clr-primary);
        font-size: 15px;
        margin-top: 15px;
        margin: 20px;
    }
    
    .text3 {
        color: white;
        margin-top: 15px;
        
    }

    .hero-img {
        width: 320px;
        
    }

    .hero-ils {
        max-height: 400px;
        max-width: 400px;
    }

    .cover-text {
        font-size: 1.5rem;
    }


    .bullet-img {
        display: none;
    }

    .navbar {
        display: none; 
    }

    .hamburger {
        display: block;
        margin-top: 20px;
    }

    .content3 {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        
    }

    .right-col .footer-text{
        font-size: 15px;
    }

    .right-col .footer-text2{
        font-size: 10px;
    }


    
    .hero-ils {
        display: none;
    }
    

    .wrapper {
        width: 300px;
    }


    .text-col h1 {
        font-size: 1.2rem;
    }

    .test-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 275px;
       
    }

    .get-key {
        margin: 20px;
    }

    
  

    
}

@media only screen and (max-width: 1000px) {

    .content2 {
        text-align: center;
        flex-direction: column;
        align-items: center;
   }

   
   .text-col{ 
       margin: 0px;
       margin-top: 50px;
       justify-content: center;
   }

   .bullet-img {
        display: none;
    }

    .navbar {
        display: none;
    }

    .hamburger {
        display: block;
        margin-left: 95%;
        margin-top: 20px;
    }

    .log-hero {
        max-width: 275px;
        max-height: 275px;
    }

    
    

}


@media only screen and (max-width: 1200px) {

   .header-cont {
       flex-wrap: wrap;
       margin-top: 100px;
   }

   .hero-col {
       text-align: center;
   }

   hr {
       margin: auto;
   }
   
}